.notice {
  background-color: #db684256;
  font-size: 0.75rem;
  padding: 20px 25px 15px 25px;
  margin: 15px;
  position: relative;

  button {
    background-color: unset;
    border: none;
    font-size: 1rem;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .hide {
    display: none;
  }
}
