.pet-list {
  background-color: var(--green);
  padding-bottom: 24px;
  padding-top: 18px;
  align-items: center;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 15dvw);
    margin: 0 auto;
  }

  h2 {
    padding-top: 24px;
  }
}

.offwhite {
  background-color: var(--offwhite);
  display: block;
}
