.pet-list {
  background-color: var(--green);
  padding: 18px 18px 24px 18px;
  align-items: center;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, auto);
  justify-content: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }

  h2 {
    padding-top: 24px;
  }
}

.offwhite {
  background-color: var(--offwhite);
  display: block;
}
