.card {
  background-color: var(--offwhite);
  cursor: pointer;
  padding: 12px;
  color: var(--black);

  img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    padding-bottom: 6px;
    aspect-ratio: 1 / 1;
  }

  button {
    background: none;
    border: none;
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;

    & > * {
      align-items: baseline;
      display: flex;
      margin: 0;
      text-wrap: nowrap;
    }

    h3 {
      grid-column: 1;
      grid-row: 1;
      font-size: 1rem;
      padding-bottom: 6px;
    }

    p {
      grid-column: 1;
      grid-row: 2;
      font-size: 0.75rem;
    }

    button {
      font-size: 1.125rem;
      justify-self: end;

      .filled {
        color: var(--red);
      }
    }
  }
}
