.filter-container {
  align-items: center;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    margin: 0 auto;
    width: 35%;
  }

  &__selects,
  &__buttons,
  &__species {
    display: flex;
    gap: 12px;
  }

  &__buttons {
    gap: 30px;
    padding: 12px;

    button {
      background-color: var(--brown);
      border-radius: 25px;
      color: var(--offwhite);
      border: none;
      padding: 12px 36px;

      &:hover {
        background-color: var(--light-brown);
      }
    }
  }

  &__species {
    align-items: center;
    border-top: 1px solid var(--gray);
    display: flex;

    label {
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 64px;
      position: relative;
    }

    .active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--brown);
      }

      @media screen and (min-width: 1024px) {
        margin: 0 auto;
        width: 35%;
      }
    }

    input {
      display: none;
    }
  }

  &__selects {
    border-bottom: 1px solid var(--gray);
    gap: 36px;
    padding: 12px 0;
    justify-content: center;

    label {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      padding: 6px 0;
    }

    select {
      border: solid 1px var(--gray);
      border-radius: 12px;
      height: 36px;
      padding: 6px 12px;
      width: 150px;
    }

    .filter-select {
      justify-content: space-between;
    }
  }
}
