.filter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;

  &__selects,
  &__buttons,
  &__species {
    display: flex;
    gap: 12px;
  }

  &__species {
    display: flex;
    flex-direction: column;

    &--options {
      display: flex;
      gap: 12px;

      label {
        display: flex;
        gap: 6px;
      }
    }
  }
}
