.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  button {
    background-color: var(--green);
    border: none;
    border-radius: 18px;
    font-weight: 700;
    padding: 12px 24px;
    margin-top: 24px;
    width: 160px;
  }

  input {
    border-radius: 12px;
    border: solid 1px var(--gray);
    height: 36px;
    padding: 6px 12px;
    width: max-content;
  }

  input[type="text"],
  input[type="email"] {
    width: 320px;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 6px;
    width: max-content;
  }

  &__phone-birth {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }

  .name {
    display: flex;
    gap: 12px;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 24px;
    }
  }

  .email-phone-birth {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 1024px) {
      input[type="email"] {
        width: 320px;
      }
    }
  }
}

.selected-pet {
  padding: 24px 0;
  border-bottom: solid 1px var(--gray);
  width: 75dvw;
  margin: 0 auto;
  margin-bottom: 24px;

  p {
    padding-bottom: 18px;
    margin: 0 auto;
  }

  img {
    width: 42dvw;
    height: 42dvw;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
  }
}
