form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  button {
    width: 200px;
  }

  img {
    width: 40dvw;
    height: 40dvw;
    object-fit: cover;
  }
}
