header {
  border-bottom: 1px solid #c6bcae;
  padding: 12px;

  img {
    width: 35px;
  }

  .link {
    align-items: center;
    color: black;
    display: flex;
    gap: 12px;
    text-decoration: none;
    width: fit-content;
  }
}
