header {
  background-color: var(--offwhite);
  border-bottom: 1px solid #c6bcae;
  display: flex;
  justify-content: space-between;
  padding: 6px 18px;

  img {
    width: 35px;
  }

  .update-pets {
    border: none;
    background-color: unset;
    cursor: pointer;
    position: relative;

    svg {
      color: var(--brown);
      font-size: 20px;
    }

    @media screen and (min-width: 1024px) {
      &:hover::after {
        content: "Update pets";
        position: absolute;
        top: -6px;
        right: -10%;
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 10;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      &::after {
        content: "";
        opacity: 0;
      }
    }
  }

  .link {
    align-items: center;
    color: black;
    display: flex;
    gap: 12px;
    text-decoration: none;
    width: fit-content;
  }
}
