.modal {
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  height: 75dvw;
  left: 50%;
  position: fixed;
  top: 20%;
  transform: translateX(-50%);
  width: 75dvw;
  z-index: 100;

  @media screen and (min-width: 768px) {
    max-width: 400px;
    max-height: 400px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 18px;
  }

  h2 {
    margin: 0;
    margin-bottom: 6px;
  }

  &__buttons-container {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;

    button {
      background-color: var(--green);
      border: none;
      border-radius: 18px;
      font-weight: 700;
      padding: 6px 24px;
    }
  }

  &-open {
    overflow: hidden;
  }

  img {
    align-self: center;
    width: 35dvw;
    height: 35dvw;
    object-fit: cover;
    padding-bottom: 18px;
    max-width: 175px;
    max-height: 175px;
  }

  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 24px;
    }
  }
}
