.notice {
  background-color: var(--warning);
  font-size: 0.75rem;
  padding: 20px 25px 15px 25px;
  position: relative;
  margin: 12px;

  button {
    background-color: unset;
    border: none;
    font-size: 1rem;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .hide {
    display: none;
  }

  label {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 12px;
  }

  @media screen and (min-width: 1024px) {
    margin: 12px auto;
    width: 45dvw;
  }
}
