.notice {
  background-color: var(--warning);
  font-size: 0.75rem;
  padding: 12px 12px 12px 3px;
  margin: 12px;
  position: relative;

  button {
    background-color: unset;
    border: none;
    font-size: 1rem;
    position: absolute;
    top: 6px;
    right: 6px;
  }

  p {
    line-height: 1.75;
    padding: 0 18px;
    text-align: justify;

    svg {
      font-size: 18px;
      transform: translateY(5px);
      padding-right: 6px;
    }
  }

  .hide {
    display: none;
  }

  label {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 12px;
  }

  @media screen and (min-width: 1024px) {
    margin: 12px auto;
    width: 45dvw;

    p {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    p {
      text-align: center;
    }
  }
}
