link {
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;

  &__return {
    font-size: 36px;
    position: relative;
    gap: 10px;

    @media screen and (min-width: 1024px) {
      &:hover::after {
        content: "Return to previous page";
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 10;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      &::after {
        content: "";
        opacity: 0;
      }
    }
  }
}

.pet-list {
  background-color: var(--green);
  padding-bottom: 24px;
  padding-top: 18px;
  align-items: center;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 20dvw);
    margin: 0 auto;
  }
}

.no-pets {
  padding-top: 24px;
  text-align: center;
}
