main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;
}

hr {
  margin: 15px;
  padding: 0 5px;
}

.link {
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;

  &__return {
    font-size: 36px;
    position: relative;
    gap: 10px;

    &:hover::after {
      content: "Return to previous page";
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      z-index: 10;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }

    &::after {
      content: "";
      opacity: 0;
    }
  }
}
