@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./components/__card.scss";
@import "./components/__overlay.scss";
@import "./components/__modal.scss";
@import "./components/__filter-container.scss";
@import "./components/__loader.scss";
@import "./components/__form.scss";
@import "./components/__notice.scss";
@import "./components/__header.scss";
@import "./components/__species-filter.scss";
@import "./pages/__home.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
