@use "./__card.scss";
@use "./__overlay.scss";
@use "./__modal.scss";
@use "./__filter-container.scss";
@use "./__loader.scss";
@use "./__form.scss";
@use "./__notice.scss";
@use "./__header.scss";
@use "./pages/_home";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #fefff3;
}
