@use "./__card.scss";
@use "./__overlay.scss";
@use "./__modal.scss";
@use "./__filter-container.scss";
@use "./__loader.scss";
@use "./__form.scss";
@use "./__notice.scss";
@use "./__header.scss";
@use "./components/filter-select";
@use "./components/pet-list";
@use "./components/button";
@use "./components/notice-home-page";
@use "./pages/home";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown: #764b36;
  --light-brown: #996145;
  --light-gray: #c6bcae;
  --black: #2b2b2b;
  --green: #869b90;
  --offwhite: #fefff3;
  --red: #dc4d41;
  --warning: #db684256;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--offwhite);
}
