main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;
}

.notice {
  background-color: rgba(255, 187, 0, 0.356);
  font-size: 0.75rem;
  padding: 2.5px 20px;
}