img {
  width: 30dvw;
  height: 30dvw;
  object-fit: cover;
}

main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;
}

.modal {
  align-items: center;
  background-color: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60dvw;
  z-index: 100;

  h2 {
    margin: 0;
  }

  &__buttons-container {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &-open {
    overflow: hidden;
  }
}

.overlay {
  background-color: black;
  height: 100vh;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    width: 25%;
  }
}