main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 45dvw);
  justify-content: center;
}

.modal {
  align-items: center;
  background-color: white;
  border: solid 1px black;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60dvw;
  z-index: 100;

  h2 {
    margin: 0;
  }

  &__buttons-container {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
  }

  &-open {
    overflow: hidden;
  }

  img {
    width: 30dvw;
    height: 30dvw;
    object-fit: cover;
  }
}

.overlay {
  background-color: black;
  height: 100vh;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 10;
}

.card {
  cursor: pointer;
  margin: 5px;
  padding: 5px;

  &:hover {
    background-color: rgb(224, 224, 224);
  }

  img {
    width: 40dvw;
    height: 40dvw;
    object-fit: cover;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  button {
    width: 200px;
  }
}

.filter-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;
}